@font-face {
    font-family: kanjiCalligraphy;
    src: url(../assets/fonts/KouzanMouhituFontOTF.otf);
}

:root {
    --text: #000000;
    --background: #e6e1f9;
    --primary-button: #000000;
    --secondary-button: #8cbaf9;
    --accent: #0d2cff;
}

body {
    background-color: var(--background);
}

p {
    color: var(--text);
}

.color-effect {  /* Text transitions from black at the start to blue at the end */
    background: linear-gradient(120deg, var(--primary-button), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#container {
    max-width: 1200px;
    margin: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav ul > li a {
    font-size: 2rem;
    font-family: Inter, serif;
    font-weight: 700;
    letter-spacing: -0.5px;
}

nav a {
    text-decoration: none;
    color: var(--text);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main ruby {
    display: flex;
    flex-direction: column;
    font-family: kanjiCalligraphy, Meiryo, serif;
    font-size: 5rem;
    text-align: center;
    padding: 0;
}

main rt {
    font-family: serif;
    margin-top: 1rem;
    font-size: 1.5rem;
}